*{
margin: 0;
padding: 0;

}
.heading{
background-color: antiquewhite;
display: flex;
justify-content: center;
font-family: 'Times New Roman', Times, serif;





}
.para{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: larger;
}
.whoweare{
display: flex;
justify-content: center;
background-color: antiquewhite;
color: #A3876A;
}
.box{
position: relative;
animation: About us;
}